---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
  <!-- BEGIN content -->
	<!-- start header -->
<div class="out">

	
			<div class="header"> 
			 <div class="container">
				 <a class="container__logo" href="#"><img src="img/logo.png"> </a>
				 <ul class="navigation header__navigation">
					 <li class="navigation__item"><a class="navigation__link" href="#">HOME </a></li>
					 <li class="navigation__item"><a class="navigation__link" href="#">ABOUT US</a></li>
					 <li class="navigation__item"><a class="navigation__link" href="#">BLOG</a></li>
					 <li class="navigation__item"><a class="navigation__link" href="#">PORTFOLIO </a></li>
					 <li class="navigation__item"><a class="navigation__link" href="#">CONTACT US </a></li>
				 </ul>
				 </div>
				  
			  
					 
			 </div>
<div class="blog"><div class="blog__center"><h1>Blog</h1></div></div>
		
		 <!-- end header -->
		 
		 <div class="main">
		 
			 <div class="container">

				 <!-- start left block -->
				 <div class="blog-Section">
				 	<img class="blog-Section__icon" src="img/icon1.png">
				  <div class="news-blok">
					  
						 <div class="gallery js-gallery">
							<div><img class="single-item" src="img/foto.png"></div>
							<div><img class="single-item" src="img/foto2.png"></div>
							
						 </div>
						
						 
						  <div class="main__content">

							  <div class="date-block">
								  <p class="main__date-orang">Date </p>
								  <p class="main__date">April 15, 2012 </p>
	  
								  <p class="main__date-orang">Tags </p>
								  <p class="main__date">Wevsite | Desing </p>
	  
								  <p class="main__date-orang">comments </p>
								  <p class="main__date">4 </p>
							  </div>
							  <div class="topic-block">
								  <a href="#"><h3 class="main__topic"> Top  WordPress  Themes  of  2012</h3></a>
								  <p class="main__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
										  <br>
										  <br>
										  Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
										  </p>
						  </div>
						  </div>
						  <img class="news-blok__line" src="img/line.png">
				  </div>
	  
				  <div class="news-blok">
				  	<img class="blog-Section__icon" src="img/icon2.png">
						  <img class="news-blok__foto" src="img/foto2.png">
						  <div class="main__content">
							  <div class="date-block">
								  <p class="main__date-orang">Date </p>
								  <p class="main__date">April 15, 2012 </p>
	  
								  <p class="main__date-orang">Tags </p>
								  <p class="main__date">Wevsite | Desing </p>
	  
								  <p class="main__date-orang">comments </p>
								  <p class="main__date">4 </p>
							  </div>
							  <div class="topic-block">
								 <a href="#"> <h3 class="main__topic"> Jesus  Typography  Wallpaper  Giveaway!</h3></a>
								  <p class="main__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
										  <br>
										  <br>
										  Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
										  </p>
						  </div>
						  </div>
						  <img class="news-blok__line" src="img/line.png">
				  </div>
				  
				  <div class="news-blok">
				  	<img class="blog-Section__icon" src="img/icon3.png">
					  <div class="news-blok post3">
							  
							  <p class="post3__text">Write anything you want here in this quotable area. Something unique you want people to learn 
									  about your website or some cool random fact. Its totally up to you. Write anything you want 
									  here in this quotable area. Something unique you want people to learn 
									  about your website or some cool random fact. Its totally up to you. </p>
								  
									 
					  </div>
					  <img class="news-blok__line" src="img/line.png"> 
				  </div>
	  
				  <div class="news-blok">
				  	<img class="blog-Section__icon" src="img/icon4.png">
						  <a href="#"><h3 class="main__topic"> Some  of  the  best  freebies  on  the  web</h3></a>
						  <p class="date-text main__date">www.bestpsdfreebies.com </p>
						  <p class="main__text">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.                            
								  </p>
								  <img class="news-blok__line" src="img/line.png"> 
				  </div>
				  <div class="news-blok">
					  <div class="button-block">
					  <a class="button" href="#" >1</a>
					  <a class="button__text-decoration" href="#" >2</a>
					  <a class="button__text-decoration" href="#" >3</a>
					  </div>
				  </div>
			  </div>
				  <!-- end left block -->
				  <!-- start right block -->
				  <div class="sidebar">
					  <div class="sidebar__body">
						  <div class="sidebar-head">
							  
								  <div class="container2">
										  <h3 class="main__topic"> AbouT  Jetro</h3>
										  <img  src="img/line3.png">
								  </div>
							  </div>
						   
						  <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. 
								</p>
						  </div>
						  <div class="sidebar__body">
								  <div class="sidebar-head">
									  
										  <div class="container2">
												  <h3 class="main__topic">Categories</h3>
												  <img  src="img/line3.png">
										  </div>
									  </div>
								  
								  <a href="#"><p class="sidebar__p">vidio(3) </p></a>
								  
								  <a href="#"><p class="sidebar__p" >sport(5) </p></a> 
								  <a href="#"><p class="sidebar__p" >media(2) </p></a> 
								  <a href="#"><p class="sidebar__p">entertainment(7) </p></a> 
								  <a href="#"><p class="sidebar__p">life(4) </p></a> 
								  <a href="#"><p class="sidebar__p">super cool stuff(8) </p></a> 
							   
								  </div>
								  <div class="sidebar__body">
										  <div class="sidebar-head">
											  
												  <div class="container2">
														  <h3 class="main__topic"> Photo  Gallery</h3>
														  <img  src="img/line3.png">
														  
												  </div>
												  <div class="sidebar__art">
												 <a href="#"><img src="img/artlink.png"></a> 
												 <a href="#"><img src="img/artlink.png"></a>
												 <a href="#"><img src="img/artlink.png"></a>
												 <a href="#"><img src="img/artlink.png"></a>
												  <br>
												  <a href="#"><img src="img/artlink.png"></a>
												  <a href="#"><img src="img/artlink.png"></a>
												  <a href="#"><img src="img/artlink.png"></a>
												  <a href="#"><img src="img/artlink.png"></a>
												</div>
											  </div>
										   
										 
										  </div>
				  
			 </div>
			 
			 <!-- end right block -->
		 </div>
		 </div>
		</div>
		  <!-- END content -->
		  <!-- BEGIN scripts -->
		  
		  <script type="text/javascript" src="js/app.js"></script>
		  <!-- END scripts -->

{% endblock %}
